/* IGT Design System v2 — Effect Tokens (Elevation) */
:root {
  --sys-elevation-subtle: 0px 2px 8px 0px #0220470f;
  --sys-elevation-floating: 0px 6px 16px 0px #0220470f, 0px 12px 24px 0px #0220470a;
  --sys-elevation-popover: 0px 10px 40px 0px #02204705, 0px 20px 50px 0px #02204705, 2px 70px 80px 0px #02204705;
  --sys-elevation-dialog: 0px 20px 60px 0px #0220470a, 0px 40px 120px 0px #02204714;
}
